{% extends 'layout.html' %}

{% block body %}
  <h1>Edit Profile</h1><hr><br>
  {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
                <div class="form-group">
                    <label><b><h3><u>Roll no:</u>  <u>{{session.roll_no}}</u></h3></b></label>
                </div>
                <div class="form-group">
                     {{render_field(form.name, class_="form-control hg")}}
                  </div>
                  <div class="form-group">
                     {{render_field(form.email, class_="form-control hg")}}
                  </div>
                  <div class="form-group">
                     {{render_field(form.phone_no, class_="form-control hg")}}
                  </div>

                      <button type="submit" class="button smbutton rbutton"><span>Edit</span></button>

{% endblock %}